mj-section
    mj-column
        mj-text() ... et bien plus encore sur le Store NETGEAR.
        mj-button() Découvrir
        mj-text() * Offre valable jusqu'au 23 Aout inclus et dans la limite des stocks disponibles sur la catégorie « Routeurs & Hotspots 4G/ 5G », et hors sélection suivante : MR5200-100EUS et 6000460. Offre cumulable avec les promos en cours.
mj-section
    mj-column
        mj-image( src="./images/netgearBlack.png")
    mj-column
        mj-social()
            mj-social-element(src="./images/facebook.png")
            mj-social-element(src="./images/instagram.png")
            mj-social-element(src="./images/twitter.png")
            mj-social-element(src="./images/youtube.png")