mj-section(mj-class="bgT1" padding="0")
    mj-column(width="6%" padding="10px")
    mj-column(width="88%" padding="10px")
        mj-text(padding="10px 0" align="center" mj-class="T30-300 cTW" letter-spacing="2px") Découvrez les 5 avantages d'un Routeur Mobile 4G/5G en vacances
    mj-column(width="6%" padding="10px")
mj-section(padding="0")
    mj-column(width="100%")  
        mj-image(padding="0" width="700px" src="./images/header.jpg")/
mj-section(mj-class="bgW" padding="15px 25px")
    mj-column(border="0.5px solid #cecece" padding='10px')
        mj-text(align="center" padding="0" padding-bottom="20px" mj-class="T20-500 cT0" letter-spacing=".5px") #[strong Pour profiter d'un WiFi rapide où que vous soyez&nbsp;!]
        mj-text(align="center" padding="0" padding-bottom="20px" mj-class="T17-500 cT0" letter-spacing=".5px") Vous êtes #[strong propriétaire d'une maison de vacances, en voyage ou travailleur nomade,] et vous avez besoin d'un WiFi rapide, où que vous soyez&nbsp;?
        mj-text(align="center" padding="0" mj-class="T17-500 cT0" letter-spacing=".5px") Découvrez #[strong les 5 avantages d'un Routeur mobile 4G/5G] et profitez dès maintenant du #[strong code promo «&nbsp;MOB10&nbsp;»].