mj-section
    mj-column(width="100%")
        mj-text() Découvrez les 5 avantages d'un Routeur Mobile 4G/5G en vacances
        mj-image(padding="0" width="700px" src="./images/header.jpg")/
        mj-text(align="center") Pour profiter d'un WiFi rapide où que vous soyez ! 
        mj-text(align="center") Vous êtes propriétaire d'une maison de vacances, en voyage ou travailleur nomade, et vous avez besoin d'un WiFi rapide, où que vous soyez ?
        mj-text(align="center") Découvrez les 5 avantages d'un Routeur mobile 4G/5G et profitez dès maintenant du code promo « MOB10 ».