mj-section(mj-class="bgW")
    //-Produit 1
    mj-column(width="33.333333%" padding="10px")
        mj-image(padding="0" src="./images/prod1.jpg")/
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") Routeur Mobile 4G/5G
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") #[strong 3.2 Gbit/s] (MR5200)
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500" letter-spacing="0.5px") #[strong(style="color:#2d72fe") 799.99&nbsp;€]
        mj-button(padding="0" inner-padding="10px 45px" border-radius="20px" mj-class="T16-500 bgT1 cTW" text-transform="uppercase" href="#") #[strong j'en profite]
    //-Produit 2
    mj-column(width="33.333333%" padding="10px")
        mj-image(padding="0" src="./images/prod2.jpg")/
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") Routeur Mobile 4G
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") #[strong 2 Gbit/s] (MR2100)
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration:line-through;") 429.99&nbsp;€] #[strong(style="color:#2d72fe;") 379.99&nbsp;€]
        mj-button(padding="0" inner-padding="10px 45px" border-radius="20px" mj-class="T16-500 bgT1 cTW" text-transform="uppercase" href="#") #[strong j'en profite]
    //-Produit 3
    mj-column(width="33.333333%" padding="10px")
        mj-image(padding="0" src="./images/prod3.jpg")/
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") Routeur Mobile 4G/4G
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") #[strong 1 Gbit/s] (MR1100)
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration:line-through;") 309.99&nbsp;€] #[strong(style="color:#2d72fe;") 279.99&nbsp;€]
        mj-button(padding="0" inner-padding="10px 45px" border-radius="20px" mj-class="T16-500 bgT1 cTW" text-transform="uppercase" href="#") #[strong j'en profite]
    //-Produit 4
    mj-column(width="33.333333%" padding="10px")
        mj-image(padding="0" src="./images/prod4.jpg")/
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") Hotspot Mobile 4G
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") #[strong 600 Mbps] (AC810)
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration:line-through;") 219.99&nbsp;€] #[strong(style="color:#2d72fe;") 186.99&nbsp;€]
        mj-button(padding="0" inner-padding="10px 45px" border-radius="20px" mj-class="T16-500 bgT1 cTW" text-transform="uppercase" href="#") #[strong j'en profite]
    //-Produit 5
    mj-column(width="33.333333%" padding="10px")
        mj-image(padding="0" src="./images/prod5.jpg")/
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") Hotspot Mobile 4G
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") #[strong 400 Mbps] (AC797)
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration:line-through;") 179.99&nbsp;€] #[strong(style="color:#2d72fe;") 149.99&nbsp;€]
        mj-button(padding="0" inner-padding="10px 45px" border-radius="20px" mj-class="T16-500 bgT1 cTW" text-transform="uppercase" href="#") #[strong j'en profite]
    //-Produit 6
    mj-column(width="33.333333%" padding="10px")
        mj-image(padding="0" src="./images/prod6.jpg")/
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") Modem 4G
        mj-text(padding="0" align="center" mj-class="T17-500" letter-spacing="0.5px") #[strong 150 Mbps] (LB2120)
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500" letter-spacing="0.5px")  #[span(style="color:#ff0000;text-decoration:line-through;") 149.99&nbsp;€] #[strong(style="color:#2d72fe;") 119.99&nbsp;€]
        mj-button(padding="0" inner-padding="10px 45px" border-radius="20px" mj-class="T16-500 bgT1 cTW" text-transform="uppercase" href="#") #[strong j'en profite]