mjml
    //- Head
    mj-head
        mj-title semaine 30B mobilité
        mj-font(name='Roboto' href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap')
        mj-font(name="fontAwesome" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")/
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Roboto, Arial, Helvetica,sans serif')/
            mj-class(name='T36-900' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='36px' line-height='36px' font-weight='900')/
            mj-class(name='T24-700' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='24px' line-height='28px' font-weight='700')/
            mj-class(name='T24-300' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='24px' line-height='28px' font-weight='300')/
            mj-class(name='T18-700' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='18px' line-height='22px' font-weight='700')/
            mj-class(name='T16-700' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight='700')/
            mj-class(name='T16-500' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight='500')/
            mj-class(name='T16-400' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='16px' line-height='20px' font-weight="400")/
            mj-class(name='T13-700' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='13px' line-height='17px' font-weight="700")/
            mj-class(name='T13-400' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='13px' line-height='17px' font-weight="400")/
            mj-class(name='T10-300' font-family="Roboto, Arial, Helvetica, sans-serif" font-style="normal" font-size='10px' line-height='12px' font-weight="300")/
            //- Black colors text
            mj-class(name="cT1" color="#1a1a1a")/
            mj-class(name="cT0" color="#4d4d4d")/
            mj-class(name="cB" color="#ffffff")/
            //- Colors
            mj-class(name="cB0" color="#1f3c90")/
            mj-class(name="bgB0" background-color="#1f3c90")/
            mj-class(name="cB-1" color="#787fbd")/
            mj-class(name="bgB-1" background-color="#787fbd")/
            mj-class(name="cB+1" color="#423f64")/
            mj-class(name="bgB+1" background-color="#423f64")/
            mj-class(name="cB+2" color="#20274f")/
            mj-class(name="bgB+2" background-color="#20274f")/

        mj-breakpoint(width="480px")
        mj-style. 
            .ombre{
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2) !important;
            }
    //- Body
    mj-body(background-color='#f1f0f0' width="700px")
        //- content
        block content
        //- bloc header
        //-block header
            include ../includes/_header
        //- bloc article
        //-block article
            include ../includes/_article
        //- bloc breves
        //-block breves
            include ../includes/_breves
        //- bloc reseaux sociaux
        //-block resociaux
            include ../includes/_resociaux
        //- bloc footer
        //-block footer
            include ../includes/_footer
        //- bloc reglement
        block reglement
            include ../includes/_reglement